@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  font-weight: normal;
}

/* Design section */
.title {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  text-align: center;

  margin-bottom: 4rem;
}

.design-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  margin-bottom: 5rem;
}


h1 {
  font-size: 2rem;
}

input {
  background-color: transparent;
  color: #adadad;
  border: none;
  margin-right: 2rem;
  margin-bottom: 0.6rem;
  max-width: 6rem;
  height: 1.6rem;
}

input[type='number'] {
  border: 1px solid #7c7c7caf;
  border-radius: 0.4rem;
  padding-left: 0.4rem;
}

.position-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.position-container h3 {
  margin-right: 0.5rem;
}

.position-input {
  margin: 0 0.8rem;
}

.canvas {
  border: 1px solid #ffffff;
  width: 600px;
  height: 600px;
}

/* Placement section */

.placement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
}

.canvas-placement {
  border: 1px solid #ffffff;
  width: 280px;
  height: 280px;
}

.dimensions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2ram;
}

.dimensions-container h3 {
  margin: 0.3rem 0;
}

.dimensions-container label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

/* Footer */
footer {
  margin-top: 10rem;
}

@media (max-width: 1200px) {
  .placement {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 1000px) {
  .design-section {
    grid-template-columns: 1fr;
    text-align: center;
    place-items: center;
  }
}

@media (max-width: 650px) {
  .placement {
    grid-template-columns: 1fr;
  }

  .design-section {
    display: none;
  }
}